<div class="col-md-6">
	<h1>Stylists</h1>
	<ul>
		<% @stylists.each do |stylist| %>
		<li><%= stylist.name %></a></li>
		<% end %>
	</ul>

	<form action="/addstylist" method="post">
	  <label for="name">Add a stylist:</label>
	  <input id="name" name="name" type="text" placeholder="enter name">

	  <button type="submit">Add stylist</button>
	</form>
</div>

<div class="col-md-6">
	<h1>Clients</h1>
	<ul>
		<% @clients.each do |client| %>
		<li><a href="/clients/<%= client.id %>"><%= client.name %></a></li>
		<% end %>
	</ul>

	<form action="/addclient" method="post">
	  <label for="name">Add a client:</label>
	  <input id="name" name="name" type="text" placeholder="enter name">

	  <button type="submit">Add client</button>
	</form>
</div>